#outer-container {
    background-image: url('/public/car.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main1{
    margin-bottom: 5%;
  }
  #main-content {
    width: 50%;
    margin: 0 auto;
  }
  
  #main-content .card {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    color: white;
  }
  
  #main-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #main-content form {
    text-align: center;
  }
  
  #main-content select {
    color: white;
    background-color: black;
    margin-bottom: 10px;
  }
  
  #main-content input {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  #main-content button {
    color: white;
    background-color: #004aadff;
  }
  @media (max-width: 768px) {
    #main-content {
      width: 90%;
    }
  }
  